# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

### first combine the three datasets

In [1]:
import pandas as pd                                                              # Load datasets
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url1)

In [2]:
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)

In [3]:
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)

I wrothe the name of the columns lower and I replace " " with "_"

In [4]:
df1.columns = pd.Series(df1.columns).apply(lambda col: col.lower())  #columns names
df1.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
df1.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [5]:
df2.columns = pd.Series(df2.columns).apply(lambda col: col.lower())  #columns names
df2.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
df2.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [6]:
df3.columns = pd.Series(df3.columns).apply(lambda col: col.lower())  #columns names
df3.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
df3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [7]:
# Checking if df1 & df2 DataFrames have the same columns.
df2 = df2[df1.columns]

if list(df1.columns) == list(df2.columns):                                
    print("The DataFrames have the same columns.")
else:
    print("The DataFrames do not have the same columns.")

The DataFrames have the same columns.

In [8]:
df4 = pd.concat([df1, df2], axis=0)   #combine the df1 with df2

In [9]:
if list(df3.columns) == list(df4.columns):                                
    print("The DataFrames have the same columns.")
else:
    print("The DataFrames do not have the same columns.")

The DataFrames do not have the same columns.

In [11]:
df4.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [12]:
df3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [13]:
df3.rename(columns = lambda x: x.replace('state', 'st'), inplace=True)
df3.columns

Index(['customer', 'st', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [15]:
df4 = df4[df3.columns]
df3.columns

Index(['customer', 'st', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [16]:
if list(df3.columns) == list(df4.columns):                                
    print("The DataFrames have the same columns.")
else:
    print("The DataFrames do not have the same columns.")

The DataFrames have the same columns.

In [18]:
df_all = pd.concat([df3, df4], axis=0)   #combine the df3 with df4
df_all

,customer,st,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0.0,104.0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0.0,66.0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820.0,82.0,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0.0,121.0,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.95848,High School or Below,M,30366.0,101.0,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,847141.75%,Master,M,63513.0,70.0,1/0/00,Personal Auto,185.667213,Four-Door Car
992,BS91566,Arizona,543121.91%,College,F,58161.0,68.0,1/0/00,Corporate Auto,140.747286,Four-Door Car
993,IL40123,Nevada,568964.41%,College,F,83640.0,70.0,1/0/00,Corporate Auto,471.050488,Two-Door Car
994,MY32149,California,368672.38%,Master,F,0.0,96.0,1/0/00,Personal Auto,28.460568,Two-Door Car
995,SA91515,California,399258.39%,Bachelor,M,0.0,111.0,1/0/00,Personal Auto,700.349052,SUV

### apply the cleaning function to the new combined dataset

In [24]:
df_all.dropna(inplace=True)  # Removes rows with null values

In [66]:
# clean gender column
df_all["gender"].replace('Femal','F', inplace=True)
df_all["gender"].replace('Male','M', inplace=True)
df_all["gender"].replace('m','M', inplace=True)
df_all["gender"].replace('female','F', inplace=True)

# clean st column
df_all['st'] = df_all["st"].apply(lambda x: "Arizona" if x == "AZ" else 
                                            "Washington" if x=="WA" else 
                                            "California" if x== "Cali" else x )

# clean education column
df_all["education"].replace('Bachelors','Bachelor', inplace=True)

#In Customer Lifetime Value, delete the % character
df_all["customer_lifetime_value"] = df_all["customer_lifetime_value"].str.replace('%','')   

#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
df_all['vehicle_class'] = df_all["vehicle_class"].apply(lambda x: "Luxury" if x == "Luxury SUV" else 
                                                                  "Luxury" if x == "Sports Car" else 
                                                                  "Luxury" if x == "Luxury Car" else x )

In [68]:
df_all["customer_lifetime_value"] = df_all["customer_lifetime_value"].astype(float)
print(df_all.dtypes)

customer                      object
st                            object
customer_lifetime_value      float64
education                     object
gender                        object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
total_claim_amount           float64
vehicle_class                 object
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
# Your code goes here

In [1]:
import pandas as pd                                                              # Load datasets
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

In [22]:
#df
df.head(3)
#df.tail
#df.columns
#df.describe
#df.info()
#df.nunique()
#df.dtypes
#df.sales_channel.unique()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail). Round the total revenue to 2 decimal points. Analyze the resulting table to draw insights.

In [35]:
pivot_df1 = df.pivot_table(index='sales_channel', values='income', aggfunc='sum') #round(num, 2)
pivot_df1 = pivot_df1.round(2)
pivot_df1

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [36]:
pivot_df2 = df.pivot_table(index='education', columns='gender', values='customer_lifetime_value', aggfunc='mean')
pivot_df2 = pivot_df2.round(2)
pivot_df2

gender                      F        M
education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here